main .fumetti{
    display: flex;
    flex-wrap: wrap ;
}
main .fumetti  .carta{
    flex-basis: calc(100% / 6);
    padding: 5px;
    img{
      width: 150px;
      height: 150px;
    }
    p{
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
